/*reglas 
selectores:
-etiquetas: header, section, article, nav;
-descendente: hijos;
-id/clase: muy utilizado;

declaraciones 
propiesdades 
valores*/

/*selector de etiqueta*/
body{
	font-family: 'Roboto', sans-serif;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Mina', sans-serif;
}

/*selector descendente
body header div nav ol li a{

}
*/

/*selector de clase: incluye a todas las clases 
referenciadas;
.link */

/*selector de id: es individual;
#portafolio */
