/*reglas 
selectores:
-etiquetas: header, section, article, nav;
-descendente: hijos;
-id/clase: muy utilizado;

declaraciones 
propiesdades 
valores*/

/*selector de etiqueta*/
body{
	font-family: 'Roboto', sans-serif;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Mina', sans-serif;
	font-weight: 400; /*100 delgada*/
	/*font-style: */
}



h1 {
	font-size: 30px;
	line-height: 1.5;
	letter-spacing: -0.2px;
	color:white;
	margin: 100px 520px 70px 30px;
}

h1 strong{
	color: #026fff;
}

.hero{
	height: 300px;
	background-image: url("../images/hero.jpg");
	background-color: #1b2127;
	background-size: 500px 300px;
	background-repeat: no-repeat;
	background-position-x : right;
}

.portfolio{
	background-color: azure;
}

.project{
	
	/*border-top-color: red;
	border-width: 5px;
	border-style: solid;
*/

border: 1px solid grey;
border-radius: 10px
margin: 20px;
margin-bottom: 15px;
padding: 20px;
background-color : white;
display: flex;


}

.project.details{

	width: 500px;
	margin: auto;
	display: flex;
}

.project.imageContainer{
	width: 500px;
	display: inline-block;
}


.header{
	background-color: #1b2127;
	color : white;

}

/* selector descendente */
.header a{
	
	 color:white;
	 text-decoration: none;

}

/*selector descendente
body header div nav ol li a{

}
*/

/*selector de clase: incluye a todas las clases 
referenciadas;
.link */

/*selector de id: es individual;
#portafolio */
